<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find celconv_description)/urdf/celconv_rim.urdf.xacro"/>

  <xacro:macro name="celconv_cell" params="name parent_name color xyz rpy is_sim">
    <link name="cell_${name}_${parent_name}_link">

      <inertial>
        <mass value="2.0"/>
        <inertia
          ixx="0"
          ixy="0"
          ixz="0"
          iyy="0"
          iyz="0"
          izz="0"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="file://$(find celconv_description)/mesh/celconv_base.stl"/>
        </geometry>
        <material name="cell_${name}_${parent_name}_material">
          <color rgba="${color} 1"/>
        </material>
      </visual>
      
      <collision>
        <geometry>
          <mesh filename="file://$(find celconv_description)/mesh/celconv_base.stl"/>
        </geometry>
      </collision>
      
    </link>

    <joint
  	  name="cell_${name}_to_${parent_name}_joint"
  	  type="fixed">  
  	  <parent link="${parent_name}_link" />
  	  <child link="cell_${name}_${parent_name}_link" />
  	  <axis xyz="0 0 0"/>
  	  <origin xyz="${xyz}" rpy="${rpy}"/>  
  	</joint>

    <xacro:celconv_rim
		  name="left"
      parent_name="cell_${name}_${parent_name}"
		  color="0.3 0 0"
		  xyz="-0.0671 0.03875 0.095"
		  rpy="1.570796326794896 0 1.047197551196597"/>

	  <xacro:celconv_rim
	  	name="back"
      parent_name="cell_${name}_${parent_name}"
	  	color="0 0.3 0"
	  	xyz="0 -0.0775 0.095"
	  	rpy="1.570796326794896 0 3.141592653589793"/>

	  <xacro:celconv_rim
	  	name="right"
      parent_name="cell_${name}_${parent_name}"
	  	color="0 0 0.3"
	  	xyz="0.0671 0.03875 0.095"
	  	rpy="1.570796326794896 0 -1.047197551196597"/>


  	<ros2_control name="cell_${name}_${parent_name}_hardware" type="system">
  	  <hardware>
	  	<xacro:if value="${is_sim}">
  	    	<plugin>gazebo_ros2_control/GazeboSystem</plugin>
		</xacro:if>
  	  </hardware>
	    <joint name="rim_left_to_cell_${name}_${parent_name}_joint">
        	<command_interface name="velocity"/>
        	<state_interface name="position"/>
        	<state_interface name="velocity"/>
	    </joint>
	    <joint name="rim_back_to_cell_${name}_${parent_name}_joint">
        	<command_interface name="velocity"/>
        	<state_interface name="position"/>
        	<state_interface name="velocity"/>
	    </joint>
	    <joint name="rim_right_to_cell_${name}_${parent_name}_joint">
        	<command_interface name="velocity"/>
        	<state_interface name="position"/>
        	<state_interface name="velocity"/>
	    </joint>
  	</ros2_control>

  </xacro:macro>
</robot>
